.card-parent{
  display: flex;
  height: 100%;
  width: 100%;
  background-color: blueviolet;
}
.card:nth-of-type(odd){
  width: 25vw;
  background-color: aqua;
 text-align: center;

}
.card:nth-of-type(even){
  text-align: center;
  width: 25vw;
}